CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_NODEJS_ICU_NONE=y
CONFIG_PACKAGE_UnblockNeteaseMusic=y
CONFIG_PACKAGE_UnblockNeteaseMusicGo=y
CONFIG_PACKAGE_adbyby=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_coreutils-nohup=y

#---
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb2=y
#---

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libhttp-parser=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libnss=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-ttyd=y


#---
CONFIG_PACKAGE_luci-app-adguardhome=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_transmission-daemon-openssl=m
CONFIG_PACKAGE_transmission-web-control=m
CONFIG_PACKAGE_luci-app-UUGameAcc=m
CONFIG_PACKAGE_luci-app-webadmin=m
#CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-store=m
#CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=m
CONFIG_PACKAGE_luci-theme-argon=m
CONFIG_PACKAGE_luci-theme-ifit=m
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-atmaterial_new=m
CONFIG_PACKAGE_luci-theme-netgear=m
CONFIG_PACKAGE_luci-theme-mcat=m
CONFIG_PACKAGE_luci-theme-edge=m
CONFIG_PACKAGE_luci-theme-tano=m
CONFIG_PACKAGE_luci-theme-argonne=m
#---

CONFIG_PACKAGE_luci-app-easymesh=m


CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-ifit=y
#CONFIG_PACKAGE_luci-theme-material=y
#CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_naiveproxy=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_nspr=y
CONFIG_PACKAGE_trojan-go=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xray-geodata=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TROJAN_GO_COMPRESS_UPX=y
CONFIG_UnblockNeteaseMusic_Go=y
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_XRAY_CORE_COMPRESS_UPX=y
